<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deproxinator</title>
    <!-- Latest compiled and minified CSS -->

 <!-- Add icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top bg-light">
      <div class="container">
        <ul class="nav navbar-nav">

          {# Deproxinator Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'login:index' %}">Deproxinator</a></li>
          {%if user.is_superuser %}
          <li><a class="navbar-link" href="{%url 'login:adminloggedin' %}">Home</a></li>
          {% else %}
          <li><a class="navbar-link" href="{%url 'login:loggedinuser' %}">Home</a></li>
          {% endif %}

          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>


          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'login:logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'login:register' %}">Register</a></li>
            <li><a class="navbar-link" href="{% url 'login:login' %}">Login</a></li>
          {% endif %}


        </ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>


  </body>
</html>
